@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --bg: #080A0A;
    --section:#131313;
    --cards: #151919;
    --borders: #292D2D;
    --main-text: #F5F7F2;
    --muted-text: #A5AAA5;
    -primary-accent: #B7FF00;
    --hover-accent: #D0FF4D;
    --logo-hover: #00ff66;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Space Grotesk", sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}
body{
    background: var(--bg);
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    font-family: "Inter", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1rem 3rem;
    height: 60px;
    border-bottom: 1px solid var(--borders);

    a span{
        color: var(--hover-accent);
    }
}

.navigation .logo{
    color: var(--main-text);
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.5s;
}

.navigation .logo:hover{
    text-shadow: 0 0 5px var(--hover-accent),
                0 0 20px var(--hover-accent),
                0 0 40px var(--hover-accent);
}

.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.navigation ul li a{
    color: var(--main-text);
    font-size: 1rem;
    font-weight: 500;
    position: relative;
}

.navigation ul li a::before{
    content: "";
    background: var(--hover-accent);
    border-radius: 12px;
    height: 2px;
    width: 0px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    transition: 350ms ease-in-out;
}

.navigation ul li a:hover::before{
    width: 100%;
}

.navigation button{
    height: 32px;
    width: 128px;   
    background: none;
    border: 1px solid var(--hover-accent);
    position: relative;
    cursor: pointer;
}

.navigation button a{
    position: relative;
    color: var(--main-text);
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
    transition: 350ms ease-in-out;
}

.navigation button::after{
    content: "";
    background: linear-gradient(to right, #B7FF00, #D0FF4D );
    height: 100%;
    width: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: 350ms ease-in-out;
}

.navigation button:hover::after{
    width: 100%;
}

.navigation button:hover a{
    color: var(--bg);
}

/* star of the hero section */

.hero-section{
    width: auto;
    max-width: 1600px;
    background: #080A0A;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    /* align-items: center; */
    padding: 8rem 2.5rem 0rem 2.5rem;
    color: var(--main-text);
    min-height: 75vh;
    overflow: hidden;
    border-bottom: .5px solid var(--borders);
}
 
.hero-icons ul{
    display: grid;
    gap: 2.5rem;
    align-items: center;
    position: relative;

    i{
        font-size: 1.4rem;
        color: var(--main-text);
    }
}

.hero-icons i:hover{
    color: var(--hover-accent);
}

.vertical-line{
    position: absolute;
    height: 60%;
    width: 1px;
    left: 6%;
    top: 15%;
    background: linear-gradient(
    to bottom, 
    transparent 0%, 
    #c0d832 50%, 
    transparent 100%
    );  
}


.hero-details .welcome-msg{
    font-size: 1rem;
    line-height: 1.8;

    span{
        color: var(--hover-accent);
    }
}

.hero-details h1{
    font-size: 3.5rem;
    font-weight: 800;
}

.hero-details .wrapper{
    display: inline-flex;
}

.hero-details .wrapper .static-text{
    color: var(--main-text);
    font-size: 1.8rem;
    font-weight: 400;
}

.hero-details .wrapper .dynamic-texts{
    padding-left: 1rem;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}

.dynamic-texts li{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--hover-accent);
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -144px;
    }
    
}
.dynamic-texts li span{
    position: relative;
}

.dynamic-texts li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg);
    border-left: 2px solid var(--hover-accent);
    animation: typing 1.5s steps(14) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
    
}



.hero-details .information{
    width: 62%;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--muted-text);
    line-height: 1.6;
}


.hero-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-buttons button{
    height: 2.2rem;
    width: 160px;
}

.hero-buttons .view-work{
    background: var(--hover-accent);
    border: none;
    border-radius: 4px;
    position: relative;

    a{
        color: var(--bg);
        font-size: 0.7rem;
        font-weight: 600;
    }

    i{
        margin-left: 8px;
        font-size: 0.7rem;
        font-weight: 600;
    }
}

.hero-buttons .contact-me{
    background: none;
    border: 1px solid var(--hover-accent);
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    a{
        color: var(--main-text);
        font-size: 0.7rem;
        font-weight: 600;
    }

    i{
        margin-left: 12px;
        font-size: 0.7rem;
        font-weight: 600;
    }
}

.hero-buttons .contact-me a{
    position: relative;
    z-index: 1;
    color: white;
    transition: color 350ms ease-in-out;
}

.hero-buttons .contact-me::after{
    content: "";
    background: #D0FF4D;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: 350ms ease-in-out;
}

.hero-buttons .contact-me:hover::after {
    width: 100%;
}

.hero-buttons .contact-me:hover a {
    color: #080A0A;
}

.profile{
    position: relative;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.profile img{
    position: absolute;

    width: clamp(320px, 32vw, 420px);

    right: 10%;
    bottom: -555px;

    z-index: 2;
}

.profile::before {
    content: "";
    position: absolute;

    width: 350px;
    height: 350px;

    right: 15%;
    top: 10%;

    background: #b8ff00;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.12;

    z-index: 0;
}

.glow-circle {
    position: absolute;

    width: 500px;
    height: 500px;

    right: -0.5%;
    top: 5%;

    border: 2px solid #b8ff00;
    border-radius: 50%;

    box-shadow:
        0 0 10px #b8ff00,
        0 0 25px rgba(184, 255, 0, 0.6),
        0 0 50px rgba(184, 255, 0, 0.3);

    z-index: 1;
}

/* this is the plus icons made by A.I I will study it if I have the time */
.plus{
    position: absolute;
    z-index: 1;

    width: 16px;
    height: 16px;
}

.plus-icons {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
}

.plus {
    position: absolute;

    width: 14px;
    height: 14px;

    opacity: .5;
}

.plus::before,
.plus::after {
    content: "";

    position: absolute;

    background: var(--hover-accent);
}

/* Horizontal line */
.plus::before {
    width: 100%;
    height: 2px;

    top: 50%;
    left: 0;

    transform: translateY(-50%);
}

/* Vertical line */
.plus::after {
    width: 2px;
    height: 100%;

    top: 0;
    left: 50%;

    transform: translateX(-50%);
}

.plus-1 {
    bottom: -35%;
    left: 50%;
}

.plus-2 {
    top: 20%;
    right: 5%;
}

.plus-3 {
    top: 48%;
    left: 2%;
}

.plus-4 {
    top: 65%;
    right: 8%;
}

.plus-5 {
    bottom: 10%;
    left: 15%;
}

.plus-6 {
    bottom: 3%;
    right: 25%;
}

.some-details{
    position: relative;
    margin-top:400px;
    line-height: 1.8;

    p{
        color: var(--hover-accent);
        font-size: 1rem;
    }
}

.some-details .country{
    color: var(--main-text);
    font-size: 1rem;
}

.some-details .country::before{
    content: "";
    background: var(--hover-accent);
    border-radius: 12px;
    height: 2px;
    width: 50%;
    bottom: 45%;
    left: 20%;
    position: absolute;
    z-index: 999;
}


/* about me section */

#about-me{
    width: auto;
    max-width: 1600px;
    height: 50vh;
    background:#101313;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    color: var(--main-text);
    padding: 16px 36px 0px 36px;
    position: relative;
    border-bottom: 1px solid var(--borders);
}

.section-title{
    display: flex;
    gap: 1rem;
    align-items: center;
    /* margin-bottom: 1rem; */
}

.section-title h1{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--hover-accent);
    letter-spacing: 1px;
}

.section-title .number{
    font-size: 3rem;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1.5px #333333;
}

.section-left-details img{
    border: 3px solid var(--hover-accent);
}

.section-mid-details h2{
    font-size: 2rem;
    font-weight: 600;
    max-width: 370px;
    padding: 70px 0px 12px 0px;
    line-height: 1;
    letter-spacing: 0.2px;
    position: relative;
    text-transform: uppercase;

    span{
        color: var(--hover-accent);
    }
}

.section-mid-details h2::before{
    content: "";
    background: var(--hover-accent);
    border-radius: 12px;
    height: 2px;
    width: 20%;
    bottom: 1%;
    left: 1%;
    position: absolute;
    z-index: 999;
}

.section-mid-details p{
    max-width: 490px;
    padding: 32px 12px 12px 0px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--muted-text);
    line-height: 1.8;
    letter-spacing: 1px;
}

.about-vertical-line{
    background: var(--muted-text);
    height: 50%;
    width: 1px;
    top: 18%;
    position: absolute;
    left: 73%;
}

.about-me-CRU{
    padding: 64px 0px 12px 0px;   
}

.cru-card{
    display: flex;
    /* align-items: center; */
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.cru-card i{
    font-size: 1.5rem;
    color: var(--hover-accent);
    border-radius: 8px;
    border: 1px solid var(--hover-accent);
    padding: 1.5rem;
    transition: 350ms ease-in-out;
}

.cru-card h3{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.8;
}

.cru-card p{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--muted-text);
    max-width: 220px;
    line-height: 1.6;
}


.cru-card i:hover{
    color: var(--bg);
    background: var(--hover-accent);
}

/* start of the skills section */

#my-skill{
    padding: 2rem;
    height: 45vh;
    border-bottom: 1px solid var(--borders);
}

.skills{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-card{
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    color: var(--main-text);
    height: 80%;
    border: 1px solid #292D2D;
    border-radius: 8px;
    width: 13%;
    background: #151919;
    cursor: pointer;
    transition: ease-in-out 350ms;

}

svg{
    color: var(--hover-accent);
    font-size: 5rem;
    margin-bottom: 1rem;
}

.skill-card h2{
    font-size: 1.2rem;
}

.progress-section {
    display: flex;
    gap: 0.5rem;
}

.darkgray-bg{
    width: 70%;
    height: 5px;
    margin: 0.5rem;
    border-radius: 8px;
    background-color: #292D2D;
    position: relative;
}

.lime-section0{
    background-color: var(--hover-accent);
    width: 50%;
    height: 5px;
    border-radius: 8px;
}

.lime-section1{
    background-color: var(--hover-accent);
    width: 45%;
    height: 5px;
    border-radius: 8px;
}

.lime-section2{
    background-color: var(--hover-accent);
    width: 5%;
    height: 5px;
    border-radius: 8px;
}

.lime-section3{
    background-color: var(--hover-accent);
    width: 10%;
    height: 5px;
    border-radius: 8px;
}

.lime-section4{
    background-color: var(--hover-accent);
    width: 9%;
    height: 5px;
    border-radius: 8px;
}

.lime-section5{
    background-color: var(--hover-accent);
    width: 7%;
    height: 5px;
    border-radius: 8px;
}

.skill-card:hover {
    /* 1. Lifts the card up */
  transform: translateY(-20px);
  
  /* 2. Lights up the border with your accent color */
  border-color: #D0FF4D;
  
  /* 3. Creates a vibrant neon glow using your accent color */
  box-shadow: 0 15px 30px rgba(208, 255, 77, 0.4);
}

.percentage{
    font-size: 0.8rem;
    font-weight: 500;
}





